Source: sciia
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@sciprotocol.org>
Uploaders: Holger Schinzel <holger@sciprotocol.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.47),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.sciprotocol.org/
Vcs-Git: git://github.com/raptor3um/sciia.git
Vcs-Browser: https://github.com/raptor3um/sciia

Package: sciiad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Sciia is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. Sciia uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Sciia Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, sciiad, and the CLI tool
 sciia-cli to interact with the daemon.

Package: sciia-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Sciia is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. Sciia uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Sciia Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Sciia-Qt, a GUI for Sciia based on Qt.

Package: sciia-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Sciia is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. Sciia uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Sciia Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides sciia-tx, a command-line transaction creation
 tool which can be used without a sciia daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
